.confirmation-text {
  font-weight: bold;
  font-size: 30px;
  color: red;
  margin-top: 10px;

}

.settings-text{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.Polaris-EmptyState__Image {
    opacity: 1!important;
}

.max-width.m-auto{
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 30.625em) {
    .Polaris-Page {
        padding: 0!important;
    }
}