.confirmation-text {
  font-weight: bold;
  font-size: 30px;
  color: red;
  margin-top: 10px;

}

.settings-text{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.Polaris-EmptyState__Image {
    opacity: 1!important;
}